<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyx.aio.mapper.AddrDistMapper">
  <resultMap id="BaseResultMap" type="com.yyx.aio.entity.AddrDist">
    <id column="t_dist_cd" jdbcType="CHAR" property="distCd" />
    <result column="t_prov_name" jdbcType="VARCHAR" property="provName" />
    <result column="t_prov_abbr" jdbcType="VARCHAR" property="provAbbr" />
    <result column="t_prov_abbr_name" jdbcType="VARCHAR" property="provAbbrName" />
    <result column="t_city_name" jdbcType="VARCHAR" property="cityName" />
    <result column="t_city_abbr" jdbcType="VARCHAR" property="cityAbbr" />
    <result column="t_city_abbr_name" jdbcType="VARCHAR" property="cityAbbrName" />
    <result column="t_cty_name" jdbcType="VARCHAR" property="ctyName" />
    <result column="t_cty_abbr" jdbcType="VARCHAR" property="ctyAbbr" />
    <result column="t_cty_abbr_name" jdbcType="VARCHAR" property="ctyAbbrName" />
    <result column="t_stat_cd" jdbcType="CHAR" property="statCd" />
    <result column="t_lev_cd" jdbcType="DECIMAL" property="levCd" />
  </resultMap>
  <sql id="Base_Column_List">
    t.dist_cd as t_dist_cd, t.prov_name as t_prov_name, t.prov_abbr as t_prov_abbr, t.prov_abbr_name as t_prov_abbr_name, 
    t.city_name as t_city_name, t.city_abbr as t_city_abbr, t.city_abbr_name as t_city_abbr_name, 
    t.cty_name as t_cty_name, t.cty_abbr as t_cty_abbr, t.cty_abbr_name as t_cty_abbr_name, 
    t.stat_cd as t_stat_cd, t.lev_cd as t_lev_cd
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from addr_dist t
    where t.dist_cd = #{distCd,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from addr_dist
    where dist_cd = #{distCd,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.yyx.aio.entity.AddrDist">
    insert into addr_dist (dist_cd, prov_name, prov_abbr, 
      prov_abbr_name, city_name, city_abbr, 
      city_abbr_name, cty_name, cty_abbr, 
      cty_abbr_name, stat_cd, lev_cd
      )
    values (#{distCd,jdbcType=CHAR}, #{provName,jdbcType=VARCHAR}, #{provAbbr,jdbcType=VARCHAR}, 
      #{provAbbrName,jdbcType=VARCHAR}, #{cityName,jdbcType=VARCHAR}, #{cityAbbr,jdbcType=VARCHAR}, 
      #{cityAbbrName,jdbcType=VARCHAR}, #{ctyName,jdbcType=VARCHAR}, #{ctyAbbr,jdbcType=VARCHAR}, 
      #{ctyAbbrName,jdbcType=VARCHAR}, #{statCd,jdbcType=CHAR}, #{levCd,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yyx.aio.entity.AddrDist">
    insert into addr_dist
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="distCd != null">
        dist_cd,
      </if>
      <if test="provName != null">
        prov_name,
      </if>
      <if test="provAbbr != null">
        prov_abbr,
      </if>
      <if test="provAbbrName != null">
        prov_abbr_name,
      </if>
      <if test="cityName != null">
        city_name,
      </if>
      <if test="cityAbbr != null">
        city_abbr,
      </if>
      <if test="cityAbbrName != null">
        city_abbr_name,
      </if>
      <if test="ctyName != null">
        cty_name,
      </if>
      <if test="ctyAbbr != null">
        cty_abbr,
      </if>
      <if test="ctyAbbrName != null">
        cty_abbr_name,
      </if>
      <if test="statCd != null">
        stat_cd,
      </if>
      <if test="levCd != null">
        lev_cd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="distCd != null">
        #{distCd,jdbcType=CHAR},
      </if>
      <if test="provName != null">
        #{provName,jdbcType=VARCHAR},
      </if>
      <if test="provAbbr != null">
        #{provAbbr,jdbcType=VARCHAR},
      </if>
      <if test="provAbbrName != null">
        #{provAbbrName,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null">
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="cityAbbr != null">
        #{cityAbbr,jdbcType=VARCHAR},
      </if>
      <if test="cityAbbrName != null">
        #{cityAbbrName,jdbcType=VARCHAR},
      </if>
      <if test="ctyName != null">
        #{ctyName,jdbcType=VARCHAR},
      </if>
      <if test="ctyAbbr != null">
        #{ctyAbbr,jdbcType=VARCHAR},
      </if>
      <if test="ctyAbbrName != null">
        #{ctyAbbrName,jdbcType=VARCHAR},
      </if>
      <if test="statCd != null">
        #{statCd,jdbcType=CHAR},
      </if>
      <if test="levCd != null">
        #{levCd,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yyx.aio.entity.AddrDist">
    update addr_dist
    <set>
      <if test="provName != null">
        prov_name = #{provName,jdbcType=VARCHAR},
      </if>
      <if test="provAbbr != null">
        prov_abbr = #{provAbbr,jdbcType=VARCHAR},
      </if>
      <if test="provAbbrName != null">
        prov_abbr_name = #{provAbbrName,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null">
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="cityAbbr != null">
        city_abbr = #{cityAbbr,jdbcType=VARCHAR},
      </if>
      <if test="cityAbbrName != null">
        city_abbr_name = #{cityAbbrName,jdbcType=VARCHAR},
      </if>
      <if test="ctyName != null">
        cty_name = #{ctyName,jdbcType=VARCHAR},
      </if>
      <if test="ctyAbbr != null">
        cty_abbr = #{ctyAbbr,jdbcType=VARCHAR},
      </if>
      <if test="ctyAbbrName != null">
        cty_abbr_name = #{ctyAbbrName,jdbcType=VARCHAR},
      </if>
      <if test="statCd != null">
        stat_cd = #{statCd,jdbcType=CHAR},
      </if>
      <if test="levCd != null">
        lev_cd = #{levCd,jdbcType=DECIMAL},
      </if>
    </set>
    where dist_cd = #{distCd,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yyx.aio.entity.AddrDist">
    update addr_dist
    set prov_name = #{provName,jdbcType=VARCHAR},
      prov_abbr = #{provAbbr,jdbcType=VARCHAR},
      prov_abbr_name = #{provAbbrName,jdbcType=VARCHAR},
      city_name = #{cityName,jdbcType=VARCHAR},
      city_abbr = #{cityAbbr,jdbcType=VARCHAR},
      city_abbr_name = #{cityAbbrName,jdbcType=VARCHAR},
      cty_name = #{ctyName,jdbcType=VARCHAR},
      cty_abbr = #{ctyAbbr,jdbcType=VARCHAR},
      cty_abbr_name = #{ctyAbbrName,jdbcType=VARCHAR},
      stat_cd = #{statCd,jdbcType=CHAR},
      lev_cd = #{levCd,jdbcType=DECIMAL}
    where dist_cd = #{distCd,jdbcType=CHAR}
  </update>
</mapper>