<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyx.aio.mapper.MachineMapper">
  <resultMap id="BaseResultMap" type="com.yyx.aio.entity.Machine">
    <id column="t_id" jdbcType="BIGINT" property="id" />
    <result column="t_mac_name" jdbcType="VARCHAR" property="macName" />
    <result column="t_mac_ series" jdbcType="VARCHAR" property="macSeries" />
    <result column="t_mac_type" jdbcType="VARCHAR" property="macType" />
    <result column="t_mac_ manufacturer" jdbcType="VARCHAR" property="macManufacturer" />
    <result column="t_mac_user" jdbcType="BIGINT" property="macUser" />
    <result column="t_mac_work_time" jdbcType="TIMESTAMP" property="macWorkTime" />
    <result column="t_mac_state" jdbcType="INTEGER" property="macState" />
    <result column="t_create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="t_update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="t_operator_id" jdbcType="BIGINT" property="operatorId" />
    <result column="t_state" jdbcType="INTEGER" property="state" />
    <result column="t_mac_org" jdbcType="BIGINT" property="macOrg" />
    <result column="t_updator_id" jdbcType="BIGINT" property="updatorId" />
    <result column="t_creator" jdbcType="VARCHAR" property="creator" />
  </resultMap>
  <sql id="Base_Column_List">
    t.id as t_id, t.mac_name as t_mac_name, t."mac_ series" as "t_mac_ series", t.mac_type as t_mac_type, 
    t."mac_ manufacturer" as "t_mac_ manufacturer", t.mac_user as t_mac_user, t.mac_work_time as t_mac_work_time, 
    t.mac_state as t_mac_state, t.create_time as t_create_time, t.update_time as t_update_time, 
    t.operator_id as t_operator_id, t.state as t_state, t.mac_org as t_mac_org, t.updator_id as t_updator_id, 
    t.creator as t_creator
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from machine t
    where t.id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from machine
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yyx.aio.entity.Machine">
    insert into machine (id, mac_name, "mac_ series", 
      mac_type, "mac_ manufacturer", mac_user, 
      mac_work_time, mac_state, create_time, 
      update_time, operator_id, state, 
      mac_org, updator_id, creator
      )
    values (#{id,jdbcType=BIGINT}, #{macName,jdbcType=VARCHAR}, #{macSeries,jdbcType=VARCHAR}, 
      #{macType,jdbcType=VARCHAR}, #{macManufacturer,jdbcType=VARCHAR}, #{macUser,jdbcType=BIGINT}, 
      #{macWorkTime,jdbcType=TIMESTAMP}, #{macState,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{operatorId,jdbcType=BIGINT}, #{state,jdbcType=INTEGER}, 
      #{macOrg,jdbcType=BIGINT}, #{updatorId,jdbcType=BIGINT}, #{creator,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yyx.aio.entity.Machine">
    insert into machine
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="macName != null">
        mac_name,
      </if>
      <if test="macSeries != null">
        "mac_ series",
      </if>
      <if test="macType != null">
        mac_type,
      </if>
      <if test="macManufacturer != null">
        "mac_ manufacturer",
      </if>
      <if test="macUser != null">
        mac_user,
      </if>
      <if test="macWorkTime != null">
        mac_work_time,
      </if>
      <if test="macState != null">
        mac_state,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="operatorId != null">
        operator_id,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="macOrg != null">
        mac_org,
      </if>
      <if test="updatorId != null">
        updator_id,
      </if>
      <if test="creator != null">
        creator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="macName != null">
        #{macName,jdbcType=VARCHAR},
      </if>
      <if test="macSeries != null">
        #{macSeries,jdbcType=VARCHAR},
      </if>
      <if test="macType != null">
        #{macType,jdbcType=VARCHAR},
      </if>
      <if test="macManufacturer != null">
        #{macManufacturer,jdbcType=VARCHAR},
      </if>
      <if test="macUser != null">
        #{macUser,jdbcType=BIGINT},
      </if>
      <if test="macWorkTime != null">
        #{macWorkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="macState != null">
        #{macState,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorId != null">
        #{operatorId,jdbcType=BIGINT},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="macOrg != null">
        #{macOrg,jdbcType=BIGINT},
      </if>
      <if test="updatorId != null">
        #{updatorId,jdbcType=BIGINT},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yyx.aio.entity.Machine">
    update machine
    <set>
      <if test="macName != null">
        mac_name = #{macName,jdbcType=VARCHAR},
      </if>
      <if test="macSeries != null">
        "mac_ series" = #{macSeries,jdbcType=VARCHAR},
      </if>
      <if test="macType != null">
        mac_type = #{macType,jdbcType=VARCHAR},
      </if>
      <if test="macManufacturer != null">
        "mac_ manufacturer" = #{macManufacturer,jdbcType=VARCHAR},
      </if>
      <if test="macUser != null">
        mac_user = #{macUser,jdbcType=BIGINT},
      </if>
      <if test="macWorkTime != null">
        mac_work_time = #{macWorkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="macState != null">
        mac_state = #{macState,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorId != null">
        operator_id = #{operatorId,jdbcType=BIGINT},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="macOrg != null">
        mac_org = #{macOrg,jdbcType=BIGINT},
      </if>
      <if test="updatorId != null">
        updator_id = #{updatorId,jdbcType=BIGINT},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yyx.aio.entity.Machine">
    update machine
    set mac_name = #{macName,jdbcType=VARCHAR},
      "mac_ series" = #{macSeries,jdbcType=VARCHAR},
      mac_type = #{macType,jdbcType=VARCHAR},
      "mac_ manufacturer" = #{macManufacturer,jdbcType=VARCHAR},
      mac_user = #{macUser,jdbcType=BIGINT},
      mac_work_time = #{macWorkTime,jdbcType=TIMESTAMP},
      mac_state = #{macState,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      operator_id = #{operatorId,jdbcType=BIGINT},
      state = #{state,jdbcType=INTEGER},
      mac_org = #{macOrg,jdbcType=BIGINT},
      updator_id = #{updatorId,jdbcType=BIGINT},
      creator = #{creator,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>